@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1622730000579-e6bde344d6a4);
    background-size: 100% 100vh;
    background-repeat: no-repeat;

}

.container{
    background: #000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 400px;
}

input{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    background-color: #b6b4b42b;
    color: #ffffff;
    width: calc(100% - 80px);
}

button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50%;
    background-color: #b6b4b42b;
    cursor: pointer;
    float: right;
}

button img{
    width: 20px;
}

h2{
    margin-top: 30px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
}

.temp{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.weather{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}

.text-weather{
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.humidity{
    color: #ffffff;
    margin-top: 20px;
}
